body {
  background-color: #91b5b5;
}

#content {
  background-color: #dff7f7; 
  font-family:Verdana, Geneva, Tahoma, sans-serif; 
  width: 82%;
  position: absolute;
  right: 0px; 
  top: 271px;
  border: solid 1px aliceblue; 
  margin: auto;
  border-radius: 20px;
  padding: 20px;
}

.imgTitulo {
  width: 120px;
  height: 120px; 
}

.titulo {
  width: 82%;
  position: absolute;
  right: 0px;
  top: 0px;
  text-align: center;
  font-weight: bold;
  background-image: url('img/856.jpg');
  font-family:Verdana, Geneva, Tahoma, sans-serif; 
  border: solid 1px black; 
  margin: auto;
  height: 250px;
  object-fit: cover;
}

.cropped {
  width: 100%;
  height: 300px;
  overflow: hidden;
  object-fit: cover;
}

#sidebar {
  height: 100%;
  width: 15%;
  background-color: #b5d7d5;
}