body {
  background-color: #eecdae;
}

#content {
  background-color: #7dbbc3; 
  font-family:Verdana, Geneva, Tahoma, sans-serif; 
  width: 75%; 
  border: solid 1px aliceblue; 
  margin: auto;
  border-radius: 20px;
}