body {
  background-color: #051313;
}

#content {
  background-color: #2fc9ce; 
  font-family:Verdana, Geneva, Tahoma, sans-serif; 
  width: 75%; 
  border: solid 1px aliceblue; 
  margin: auto;
  border-radius: 20px;
}